img { 
    height: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hide {
    display: none;
}

th, td {
    padding: 100px;
    text-align: center;
}

/*table {
    height: 100%;
    border: 5px solid black; 
    border-collapse: collapse;
}*/